echo . > .gitignore
echo "*.log" >> .gitignore
echo "*.dat" >> .gitignore
echo "*.ini" >> .gitignore
echo "*.blf" >> .gitignore
echo "*.regtrans-ms" >> .gitignore
echo "TokenGitHum.txt" >> .gitignore
echo "Desktop/" >> .gitignore
echo "Documents/" >> .gitignore
echo "Downloads/" >> .gitignore
echo "AppData/" >> .gitignore
echo "OneDrive/" >> .gitignore
echo ".cache/" >> .gitignore
echo ".cursor/" >> .gitignore
echo ".bash_history" >> .gitignore
echo ".lesshst" >> .gitignore
echo "NTUSER*" >> .gitignore